.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  margin-top: 25px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 17px;
}

.nav-right-mobile {
  display: none;
}

.mobile-menu-icon { display: none; cursor: pointer; }

@media (max-width: 1020px) {
  .navbar {
    padding: 10px 70px;
    margin-top: 20px;
    justify-content: space-between;
  }

  .nav-right-mobile {
    display: block;
  }

  .desktop-only, .desktop-logo{
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-dropdown {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    animation: fadeIn 0.2s ease-out;
  }

  .mobile-dropdown a {
    color: #333 !important;
    font-size: 18px;
    font-weight: 600;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}